sudo: required
language: generic
services:
- docker
env:
  global:
  - PATH=/usr/lib/google-cloud-sdk/bin:$PATH
  - PROJECT=lemonade-stand
  - GCLOUD_PROJECT_ID=fuzzy-ai-lemonade-stand
  - GCLOUD_ACCOUNT=travis-ci@fuzzy-ai-lemonade-stand.iam.gserviceaccount.com
  - GCLOUD_CLUSTER=fuzzy-ai-prod-west-2
before_install:
- openssl aes-256-cbc -K $encrypted_8e6cd4036e27_key -iv $encrypted_8e6cd4036e27_iv
  -in client-secret.json.enc -out client-secret.json -d
- docker build -t fuzzyai/$PROJECT .
script:
- docker run -t fuzzyai/$PROJECT npm run lint
- docker run -t fuzzyai/$PROJECT npm test
deploy:
  provider: script
  script: scripts/ci_deploy.sh
  on:
    tags: true
    all_branches: false
