@import "reset"

//VARS///////////////////////////////////////////////

$brand-color: #e41f1f
$accent: #d3a0c5
$accent: #EB4F48
$accent: #d74652
$blanco: #F6F9F5
$color-text:  #221A2F
$heading-color: #453955
$darkness: #161628
$darkness: #1F1E30
$darkness: #160B24
$darkness: #180E2A
// $darkness: #120829

// $ui: #1F1E30
// $ui: #262537
// $ui: #191025
// $ui: #20132B
$ui: #221a2f
$ui: #2b2238
$ui: #261d34
$ui: #282036

$font-stack: "Proxima Nova", Helvetica, Courier10BTRoman,Courier,monospace
$heading-stack: "refrigerator-deluxe", Helvetica, Arial

//HELPERS//////////////////////////////////////////////

=centerer
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)

//KEYFRAMES ANIMATION/////////////////////////////////////

@keyframes fadeIn
	0%
		opacity: 0
	100%
		opacity: 1

@keyframes fadeOut
	0%
		opacity: 1
	100%
		opacity: 0

@keyframes fadeInDown
	0%
		opacity: 0
		transform: translate3d(0, -1000px, 0)
	100%
		opacity: 1
		transform: none

@keyframes fadeOutUp
	0%
		opacity: 1
	100%
		opacity: 0
		transform: translate3d(0, -1000%, 0)



//BreakPoints
//
// =tab
// 	@media only screen and (min-width: 768px)
// 		@content
//
//
// =med
//   @media only screen and (min-width: 940px)
//     @content
//



html
	height: 100%
	width: 100%
	background: $ui

body
	background: #F6F9F5
	font-family: $font-stack
	letter-spacing: .5px
	font-size: 16px
	line-height: 28px
	color: $color-text
	overflow-x: hidden
	margin: 10px



//ROW//////////////////////////////////////


.row
	//border: 100px solid #fff
	//background: yellow

//DEFAULTS///////////////////////////////////////////
a
	text-decoration: none
	color: $accent

.accent
	color: $accent

h1,h2,h3,button,.btn, .heading
	font-family: "refrigerator-deluxe", Helvetica, Arial
	text-transform: uppercase
	letter-spacing: 1px
	color: $heading-color

h1,h2,h3, p
	margin-bottom: 54px

h1
	font-size: 58px
	font-weight: 900

h2
	font-size: 36px

.masthead
	position: relative
	height: 100px
	padding: 40px 80px
	z-index: 1000
	animation: fadeInDown 4s ease-in-out

.signup
	position: absolute
	right: 80px
	top: 40px
	font-size: 32px
	letter-spacing: 1px
	font-family: "refrigerator-deluxe"
	text-transform: uppercase

.logo
	img
		width: 100px

//BTN Styles////////////////////////////////////////
.btn
	position: relative
	font-size: 20px
	padding: 12px 44px
	text-align: center
	border: 1px dashed $darkness
	color: $brand-color
	z-index: 10
	transition: background .3s ease-in-out, color .4s ease-in
	&:hover
		background: $heading-color
		border-color: $blanco
		border-style: solid
		cursor: pointer


//INTRO TEXT///////////////////////////////////////////////
.lemonsplanation
	width: 60%
	margin: 180px auto 0px
	text-align: center
	position: relative
	&::after
		content: ""
		display: block
		width: 320px
		height: 320px
		background:rgba(#c4f0ff,.45)
		border: 1px solid #c4f0ff
		animation: fadeIn 6s linear
		// width: 0
		// height: 0
		// border-style: solid;
		// border-width: 380px 200px 0 200px
		// border-color: #9cdbff transparent transparent transparent
		// border-left: 100px transparent solid
		// border-right: 100px transparent solid
		// border-top: 100px solid #cfd7df
		//background: rgba(#cfd7df, .25)
		@include centerer
		transform: translate(-50%, -50%)  rotate(45deg)
		z-index: -1

  h1
		text-transform: uppercase
		font-weight: 900

	p.lemonsplanation__para
		font-size: 17px
		line-height: 2em
		padding: 0px 40px


//SCENE////////////////////////////////////////////////
.scene
	width: 100%
	position: relative

.scene-inner
	position: relative
	width: 100%
	z-index: 2000
	padding-bottom: 220px


//SETTINGS AREA////////////////////////////////////////////
.settings
	background: #110519
	color: $blanco
	clear: both
	padding: 1px

.secondary-zone
	position: relative
	clear: both
	width: 100%
	height: 100%
	color: $blanco
	background: $darkness
	z-index: 50000

.secondary-zone-inner
	background: #20132B
	padding: 0
	color: $blanco
	margin-top: 10px

	h1,h2,h3
		color: $blanco

//FLEX GRID////////////////////////////////////////////
.flex
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: space-between

	.flex__item
		//background: rgba(darken(#29201e, 25%), .05)
		//border: 1px solid darken(#201816, 1%)
		margin: 1px .25px 0
		flex: 1
		header
			//background: rgba(darken(#29201e, 25%), .2)
			background: $ui
			padding: 35px 40px 17px
			color: $blanco

		h2
			margin-bottom: 8px
			color: $blanco

		.flex__item-subline
			display: block
			margin-bottom: 18px
			font-family: helvetica, arial
			text-transform: uppercase
			letter-spacing: 2px
			font-size: 10px
			color: $accent



.add-buyer-inline
	display: none
	position: absolute
	bottom: 490px
	left: 20px
	font-size: 22px
	z-index: 20000
	svg
		margin-left: 80px
		fill: $brand-color

#full-scene
	width: 100%
	position: absolute
	bottom: 80px
	z-index: 3000

.choco-cup-noshow
	display: none
	visibility: hidden

.choco-cup-bought
	display: block
	visibility: visible

.secondary-cta
	width: 100%
	padding: 180px 40px
	margin: 0px auto
	justify-content: space-around
	background: $ui

	.btn
		color: $accent
		&:hover
			color: $blanco


.value-modifier-wrap
	width: 70px
	padding: 0
	margin: 0
	float: left
	margin-right: 40px

	span
		display: block
		width: 70px
		height: 70px
		border: .5px solid #110519
		border-bottom: none
		position: relative
		margin: -1px 0  0 -1px
		line-height: 0
		transition: all .3s ease-in
		&:hover
			background: #1C1528
			cursor: pointer
			.icon
				fill: $accent

.icon
	width: 18px
	height: 18px
	display: inline-block
	transition: all .3s ease-in-out
	fill: $blanco
	+centerer
	&:hover
		fill: $accent

.active-icon
	background: #1C1528
	.icon
		fill: $accent



.setting-module
	position: relative
	min-height: 139px
	//border-top: 1px solid #161628
	margin-top: 1px
	background: $ui
	overflow: hidden


.value
	font-size: 50px
	+centerer


.sunny-icon
	display: block
	fill: #F5F2D2
	width: 38px !important

.cloudy-icon
	width: 48px !important
	fill:#ecf7f8

.fade-in
	animation: fadeIn .4s ease-in-out

footer
	padding: 0px
	display: flex
	flex-direction: row
	justify-content: space-between
	position: relative
	.copyright
		margin-bottom: 0px
		padding: 20px 40px
		font-size: 12px
		letter-spacing: 2px
		line-height: 40px
		text-transform: uppercase



.social-footer-links
	display: flex
	flex-direction: row

.box-icon
	background: $ui
	width: 80px
	height: 80px
	position: relative
	display: inline-block
	&:hover
		background: #20132B
		svg
			fill: $accent

.social-icon
	@include centerer
	width: 24px
	height: 24px
	//margin: 0 20px
	fill: $blanco
	&:hover
		fill: $accent


.angel-icon
	width: 20px

.js-not-active
	opacity: 0

.js-active
	animation: fadeIn 2s easeIn

.display-prices
	//background: #11111E
	background: $ui
	width: 100%
	font-family: $heading-stack
	letter-spacing: 1px
	text-transform: uppercase
	text-align: center
	padding: 40px
	z-index: 50000
	position: relative
	margin: 0 auto 0.5px

	p
		margin-bottom: 24px
		font-size: .95rem
		letter-spacing: 2px
		text-transform: uppercase
		line-height: 1.4

	#current-price
		font-size: 50px !important
		color: $accent



//BUYER RESPONSE////////////////////////////////////////
.yes-no
	position: absolute
	bottom: 280px
	left: calc(50% - 10px)
	z-index: 5

	#buying
		display: none

	#buying-no
		display: none

	.buying-active
		display: block !important
		animation: fadeInDown fadeOutUp
		animation-delay: 0s, .5s

	.no-buying-active
		display: block !important
		animation: fadeInDown fadeOutUp
		animation-delay: 0s, .5s

.checkmark
	fill: #1DB8A1

.cross
	fill: #D8141F


.canvas-wrap
	padding: 40px
	background: #1C1528
	margin-top: 1px

	header
		position: relative

.chart-legend
	background: rgba(darken(#29201e, 25%), .2)
	border: 1px solid rgba(darken(#29201e, 25%), .5)
	width: 300px
	padding: 10px
	position: absolute
	top: 0px
	right: 0px

.chart-legend li
	margin: 10px 0px
	font-family: $heading-stack
	text-transform: uppercase
	letter-spacing: 2px

	span
	  display: inline-block
	  width: 14px
	  height: 14px
	  margin-right: 15px
